<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
	<!-- DB 테이블과 컬럼들을 mapper 매핑을 위한 변수 선언-->
	<properties>
		<!-- 
		* property
		- name : mapper.xml에서 사용될 이름
		- value : DB 테이블 및 컬럼 이름
		 -->
		 <property name="movie" value="movie"/>
		 <property name="movieId" value="movie_id"/>
		 <property name="ageLimit" value="age_limit"/>
		 <property name="movieName" value="movie_name"/>
		 <property name="movieGenre" value="movie_genre"/>
		 <property name="movieSummaryTitle" value="movie_summary_title"/>
		 <property name="movieSummaryContent" value="movie_summary_content"/>
		 <property name="screenTime" value="screen_time"/>
		 <property name="releaseDate" value="release_date"/>
		 <property name="movieCast" value="movie_cast"/>
		 <property name="audCount" value="audCount"/>
		 
		 <property name="userInfo" value="user_info"/>
		 <property name="userId" value="user_id"/>
		 <property name="userName" value="user_name"/>
		 <property name="userPw" value="user_pw"/>
		 <property name="userPhone" value="user_phone"/>
		 <property name="userEmail" value="user_email "/>
		 <property name="birth" value="birth"/>
		 <property name="userJoin" value="user_join"/>
		 
		 <property name="reserve" value="reserve"/>
		 <property name="reserveId" value="reserve_id"/>
   <!--  <property name="movieId" value="movie_id"/>
		 <property name="userId" value="user_id"/>
		 <property name="priceId" value="price_id"/>
		 <property name="seatId" value="seat_id"/> -->
		 <property name="reserveTotPrice" value="reserve_tot_price"/>
		 <property name="reserveViewDay" value="reserve_view_day"/>
		 <property name="reserveBuyDay" value="reserve_buy_day"/>
		 <property name="reserveYnc" value="reserve_ync"/>
		 
		 <property name="theater" value="theater"/>
		 <property name="theaterId" value="theater_id"/>
	<!-- <property name="branchId" value="branch_id"/> -->
		 <property name="screenIn" value="screen_in"/>
		 
		 <property name="branch" value="branch"/>
		 <property name="branchId" value="branch_id"/>
		 <property name="branchName" value="branch_name"/>
		 <property name="branchCity" value="branch_city"/>
		 
		 
		 <property name="screenDate" value="screen_date"/>
	<!-- <property name="movieId" value="movie_id"/>
		 <property name="theaterId" value="theater_id"/> -->
		 <property name="startTime" value="start_time"/>
		 <property name="endTime" value="end_time"/>
		 
		 <property name="seat" value="seat"/>
		 <property name="seatId" value="seat_id"/>
	<!-- <property name="theaterId" value="theater_id"/> -->
		 <property name="seatNum" value="seat_num"/>
		 <property name="seatReserveYn" value="seat_reserve_yn"/>
	<!-- <property name="reserveId" value="reserve_id"/> -->
		 
		 <property name="price" value="price"/>
		 <property name="priceId" value="price_id"/>
		 <property name="priceTicket" value="price_ticket"/>
		 
		 <property name="review" value="review"/>
		 <property name="reviewId" value="review_id"/>
	<!-- <property name="movieId" value="movie_id"/>
		 <property name="userId" value="user_id"/> -->
		 <property name="reviewContent" value="review_content"/>
		 <property name="reviewDate" value="review_date"/>
		 
		 <property name="seatCount" value="seat_count"/>	 
	</properties>
	
	<!-- Underscore 명명법을 Camel 명명법으로 매핑 -->
	 <settings>
	 	<setting name="mapUnderscoreToCamelCase" value="true"/>
	 </settings>
	
	<!-- 
	typeAliases : mapper.xml의 select 리턴 타입에 들어갈 클래스 경로를 설정
	 -->
 	<typeAliases>
 		<package name="goott.spring.project1.domain"/>
 	</typeAliases>
 </configuration>



